<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UTImportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>public.retro.adf</string>
            <key>UTTypeDescription</key>
            <string>Amiga Disk File</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
                <string>public.archive</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>adf</string>
                </array>
                <key>public.mime-type</key>
                <string>application/x-adf</string>
            </dict>
        </dict>
    </array>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>ADFinder needs access to open ADF files</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>ADFinder needs access to save exported files</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>public.retro.adf</string>
			<key>UTTypeDescription</key>
			<string>Amiga Disk File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>adf</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-adf</string>
			</dict>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>Grant permission to access ADF files</string>
	<key>NSAppTransportSecurity</key>
	<dict/>
</dict>
</plist>
